<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_ul">
                <li class="main-header_li"><a href="/">shop</a></li>
                <li class="main-header_li"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header_li"><a href="/contectus">Contect US</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Form Successfuly Filled</h1>
    </main>
</body>

</html>